<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<h2 style="margin: 20px 0;">講師用のページです。</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<%= link_to "講師がログインするのはここ", new_admin_session_path, class: "btn btn-info" %>
				<%= link_to "デモです", new_admin_registration_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>