<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-center">
				<div class="top-image">
					<div class="top-opacity">
						<h3 class="top-title">
						このアプリは講師陣からのお知らせを配信したり、<br>
						お子様の通学をメールでご連絡するためのサービスです。<br>
					　　</h3>
					    <div class="top-text">
							<div class="col-12" style="margin: 40px 0;">
								<div class="d-flex justify-content-center">
									<%= link_to "このアプリの使い方について", about_path, class: "btn btn-light" %><br>
								</div>
							</div>
							<div class="col-12" style="margin: 40px 0;">
								<div class="d-flex justify-content-center">
									<%= link_to "ログインページへ", new_user_session_path, class: "btn btn-light" %><br>
								</div>
							</div>
							<div class="col-12">
								<div class="d-flex justify-content-center">
									<%= link_to "会員登録をしていない方はこちら", new_user_registration_path, class: "btn btn-light" %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>